In [30]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('darkgrid')

In [4]:
df1 = pd.read_csv('all_assistance_prime_transactions_1.csv')
df2 = pd.read_csv('all_assistance_subawards_1.csv')
df3 = pd.read_csv('all_contracts_prime_transactions_1.csv')
df4 = pd.read_csv('all_contracts_subawards_1.csv')

/home/seapea/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,17,20,43,49,50,57,62,63,64,65,66,67,81,82,90,109,110,138,139,153,154) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df1.head(1)

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,business_funds_indicator_description,business_types_code,business_types_description,correction_delete_indicator_code,correction_delete_indicator_description,action_type_code,action_type_description,record_type_code,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.0,50196.0,80196.0,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115

In [65]:
# Drop columns with all empty values
df1a = df1.dropna(axis=1, how='all')

In [66]:
df1a.head()

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,business_funds_indicator_description,business_types_code,business_types_description,correction_delete_indicator_code,correction_delete_indicator_description,action_type_code,action_type_description,record_type_code,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.00,50196.0,80196.00,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115
1,17VITA0208,02,NaN,SAI EXEMPT,-2739.01,NaN,-2739.01,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-10-25 15:17:16.415642
2,171FA021492-G,0000,171FA021492-G,SAI EXEMPT,504188.00,NaN,504188.00,0.0,NaN,NaN,...,NaN,X,NaN,NaN,NaN,A,NaN,2,NaN,2017-10-06 20:30:28.563451
3,17VITA0285,02,NaN,SAI EXEMPT,-15430.70,NaN,-15430.70,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-10-25 15:17:16.169254
4,171FA021492-L,0000,171FA021492-L,SAI EXEMPT,0.00,NaN,0.00,272312.0,31399.0,31399.0,...,NaN,X,NaN,NaN,NaN,A,NaN,2,NaN,2017-10-06 20:30:23.602324

In [67]:
for col in df1a.columns:
    try:
        if df[col].notna().value_counts()[1] != len(df1):            
            print(df[col].isna().value_counts())
    except:
        pass

False    1476
True      545
Name: modification_number, dtype: int64
True     1171
False     850
Name: award_id_uri, dtype: int64
False    1979
True       42
Name: sai_number, dtype: int64
False    2016
True        5
Name: federal_action_obligation, dtype: int64
False    1119
True      902
Name: non_federal_funding_amount, dtype: int64
False    1021
True     1000
Name: face_value_of_loan, dtype: int64
True     1834
False     187
Name: original_subsidy_cost, dtype: int64
True     1828
False     193
Name: total_subsidy_cost, dtype: int64
True     1830
False     191
Name: total_loan_value, dtype: int64
False    1102
True      919
Name: period_of_performance_start_date, dtype: int64
False    1102
True      919
Name: period_of_performance_current_end_date, dtype: int64
False    1102
True      919
Name: awarding_office_code, dtype: int64
True     1337
False     684
Name: awarding_office_name, dtype: int64
False    1094
True      927
Name: funding_office_code, dtype: int64
True     1345
False     676
Name: funding_office_name, dtype: int64
False    1154
True      867
Name: recipient_parent_name, dtype: int64
False    1231
True      790
Name: recipient_parent_duns, dtype: int64
True     1428
False     593
Name: recipient_address_line_2, dtype: int64
False    1583
True      438
Name: recipient_city_code, dtype: int64
False    2018
True        3
Name: recipient_zip_last_4_code, dtype: int64
True     2016
False       5
Name: primary_place_of_performance_city_name, dtype: int64
True     1908
False     113
Name: primary_place_of_performance_county_code, dtype: int64
True     1908
False     113
Name: primary_place_of_performance_county_name, dtype: int64
False    2020
True        1
Name: primary_place_of_performance_state_name, dtype: int64
True     2016
False       5
Name: primary_place_of_performance_zip_4, dtype: int64
False    1635
True      386
Name: primary_place_of_performance_congressional_district, dtype: int64
True     1080
False     941
Name: assistance_type_description, dtype: int64
True     1080
False     941
Name: business_funds_indicator_description, dtype: int64
True     1080
False     941
Name: business_types_description, dtype: int64
True     1988
False      33
Name: correction_delete_indicator_code, dtype: int64
True     1993
False      28
Name: correction_delete_indicator_description, dtype: int64
True     1080
False     941
Name: action_type_description, dtype: int64
True     1080
False     941
Name: record_type_description, dtype: int64

In [73]:
for col in df1a.columns:
    if re.match(r'\w+code\b', col):
        print(col)

awarding_agency_code
awarding_sub_agency_code
awarding_office_code
funding_agency_code
funding_sub_agency_code
funding_office_code
recipient_country_code
recipient_city_code
recipient_county_code
recipient_state_code
recipient_zip_code
recipient_zip_last_4_code
primary_place_of_performance_country_code
primary_place_of_performance_code
primary_place_of_performance_county_code
assistance_type_code
business_funds_indicator_code
business_types_code
correction_delete_indicator_code
action_type_code
record_type_code

In [76]:
codes_list = []
for col in df1a.columns:
    if re.match(r'\w+code\b', col) is None:
        codes_list.append(col)

In [79]:
df1b = df1a[codes_list]

In [80]:
df1b.head()

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,cfda_number,cfda_title,assistance_type_description,award_description,business_funds_indicator_description,business_types_description,correction_delete_indicator_description,action_type_description,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.00,50196.0,80196.00,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VITA TAX ASSISTANCE: FINANCIAL INITIATIVES PRO...,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115
1,17VITA0208,02,NaN,SAI EXEMPT,-2739.01,NaN,-2739.01,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),THE SAN DIEGO EITC COALITION,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.415642
2,171FA021492-G,0000,171FA021492-G,SAI EXEMPT,504188.00,NaN,504188.00,0.0,NaN,NaN,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:28.563451
3,17VITA0285,02,NaN,SAI EXEMPT,-15430.70,NaN,-15430.70,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VERMILION COALITION VITA TAX ASSISTANCE PROGRAM,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.169254
4,171FA021492-L,0000,171FA021492-L,SAI EXEMPT,0.00,NaN,0.00,272312.0,31399.0,31399.0,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:23.602324

In [81]:
df1b.columns

Index(['award_id_fain', 'modification_number', 'award_id_uri', 'sai_number',
       'federal_action_obligation', 'non_federal_funding_amount',
       'total_funding_amount', 'face_value_of_loan', 'original_subsidy_cost',
       'total_subsidy_cost', 'total_loan_value', 'action_date',
       'period_of_performance_start_date',
       'period_of_performance_current_end_date', 'awarding_agency_name',
       'awarding_sub_agency_name', 'awarding_office_name',
       'funding_agency_name', 'funding_sub_agency_name', 'funding_office_name',
       'recipient_duns', 'recipient_name', 'recipient_parent_name',
       'recipient_parent_duns', 'recipient_country_name',
       'recipient_address_line_1', 'recipient_address_line_2',
       'recipient_city_name', 'recipient_county_name', 'recipient_state_name',
       'recipient_congressional_district',
       'primary_place_of_performance_country_name',
       'primary_place_of_performance_city_name',
       'primary_place_of_performance_county_name',
       'primary_place_of_performance_state_name',
       'primary_place_of_performance_zip_4',
       'primary_place_of_performance_congressional_district', 'cfda_number',
       'cfda_title', 'assistance_type_description', 'award_description',
       'business_funds_indicator_description', 'business_types_description',
       'correction_delete_indicator_description', 'action_type_description',
       'record_type_description', 'last_modified_date'],
      dtype='object')

In [85]:
df1b.primary_place_of_performance_country_name.value_counts().iloc[0]

2021

In [86]:
# Remove columns with a single value for all entries
redundant = []
for col in df1b.columns:
    if df1b[col].value_counts().iloc[0] == len(df1b):
        redundant.append(col)

In [88]:
df1c = df1b.drop(redundant, 1)

In [90]:
df1c.head()

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,cfda_number,cfda_title,assistance_type_description,award_description,business_funds_indicator_description,business_types_description,correction_delete_indicator_description,action_type_description,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.00,50196.0,80196.00,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VITA TAX ASSISTANCE: FINANCIAL INITIATIVES PRO...,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115
1,17VITA0208,02,NaN,SAI EXEMPT,-2739.01,NaN,-2739.01,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),THE SAN DIEGO EITC COALITION,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.415642
2,171FA021492-G,0000,171FA021492-G,SAI EXEMPT,504188.00,NaN,504188.00,0.0,NaN,NaN,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:28.563451
3,17VITA0285,02,NaN,SAI EXEMPT,-15430.70,NaN,-15430.70,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VERMILION COALITION VITA TAX ASSISTANCE PROGRAM,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.169254
4,171FA021492-L,0000,171FA021492-L,SAI EXEMPT,0.00,NaN,0.00,272312.0,31399.0,31399.0,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:23.602324

In [59]:
df1.action_date.notna().value_counts()

True    2021
Name: action_date, dtype: int64

In [51]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 72 columns):
award_id_fain                                          2021 non-null object
modification_number                                    1476 non-null object
award_id_uri                                           850 non-null object
sai_number                                             1979 non-null object
federal_action_obligation                              2016 non-null float64
non_federal_funding_amount                             1119 non-null float64
total_funding_amount                                   2021 non-null float64
face_value_of_loan                                     1021 non-null float64
original_subsidy_cost                                  187 non-null float64
total_subsidy_cost                                     193 non-null float64
total_loan_value                                       191 non-null float64
action_date                                            2021 non-null object
period_of_performance_start_date                       1102 non-null object
period_of_performance_current_end_date                 1102 non-null object
awarding_agency_code                                   2021 non-null int64
awarding_agency_name                                   2021 non-null object
awarding_sub_agency_code                               2021 non-null int64
awarding_sub_agency_name                               2021 non-null object
awarding_office_code                                   1102 non-null object
awarding_office_name                                   684 non-null object
funding_agency_code                                    2021 non-null int64
funding_agency_name                                    2021 non-null object
funding_sub_agency_code                                2021 non-null int64
funding_sub_agency_name                                2021 non-null object
funding_office_code                                    1094 non-null object
funding_office_name                                    676 non-null object
recipient_duns                                         2021 non-null int64
recipient_name                                         2021 non-null object
recipient_parent_name                                  1154 non-null object
recipient_parent_duns                                  1231 non-null float64
recipient_country_code                                 2021 non-null object
recipient_country_name                                 2021 non-null object
recipient_address_line_1                               2021 non-null object
recipient_address_line_2                               593 non-null object
recipient_city_code                                    1583 non-null object
recipient_city_name                                    2021 non-null object
recipient_county_code                                  2021 non-null int64
recipient_county_name                                  2021 non-null object
recipient_state_code                                   2021 non-null object
recipient_state_name                                   2021 non-null object
recipient_zip_code                                     2021 non-null int64
recipient_zip_last_4_code                              2018 non-null float64
recipient_congressional_district                       2021 non-null int64
recipient_foreign_city_name                            0 non-null float64
recipient_foreign_province_name                        0 non-null float64
recipient_foreign_postal_code                          0 non-null float64
primary_place_of_performance_country_code              2021 non-null object
primary_place_of_performance_country_name              2021 non-null object
primary_place_of_performance_code                      2021 non-null object
primary_place_of_performance_city_name                 5 non-null object
primary_place_of_performance_county_code               113 non-null float64
primary_place_of_performance_county_name               113 non-null object
primary_place_of_performance_state_name                2020 non-null object
primary_place_of_performance_zip_4                     5 non-null object
primary_place_of_performance_congressional_district    1635 non-null float64
primary_place_of_performance_foreign_location          0 non-null float64
cfda_number                                            2021 non-null float64
cfda_title                                             2021 non-null object
assistance_type_code                                   2021 non-null int64
assistance_type_description                            941 non-null object
award_description                                      2021 non-null object
business_funds_indicator_code                          2021 non-null object
business_funds_indicator_description                   941 non-null object
business_types_code                                    2021 non-null object
business_types_description                             941 non-null object
correction_delete_indicator_code                       33 non-null object
correction_delete_indicator_description                28 non-null object
action_type_code                                       2021 non-null object
action_type_description                                941 non-null object
record_type_code                                       2021 non-null int64
record_type_description                                941 non-null object
last_modified_date                                     2021 non-null object
dtypes: float64(16), int64(10), object(46)
memory usage: 1.1+ MB

In [21]:
df2.head(1)

,subaward_number,prime_award_fain,subaward_amount,subaward_action_date,subaward_report_year,subaward_report_month,prime_awarding_agency_code,prime_awarding_agency_name,prime_awarding_sub_agency_code,prime_awarding_sub_agency_name,...,highly_compensated_officer_1_name,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount
0,222222,17VITA0283,50000.0,2016-12-29,2017,1,20,DEPARTMENT OF THE TREASURY (TREAS),2050,INTERNAL REVENUE SERVICE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df3.head(1)

,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id,parent_award_modification_number,federal_action_obligation,total_dollars_obligated,base_and_exercised_options_value,...,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,last_modified_date
0,TOSOFR15F0015,5,0.0,NaN,NaN,NaN,NaN,-19031.25,1783813.26,-416401.15,...,f,f,f,f,t,f,t,t,f,2018-12-07 09:17:07

In [23]:
df4.head(1)

,subaward_number,prime_award_piid,prime_award_parent_piid,subaward_amount,subaward_action_date,subaward_report_year,subaward_report_month,prime_awarding_agency_code,prime_awarding_agency_name,prime_awarding_sub_agency_code,...,highly_compensated_officer_1_name,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount
0,7500149614,TIRNO11D000270014,TIRNO11D00027,15490856.0,2016-12-29,2018,5,20,DEPARTMENT OF THE TREASURY (TREAS),2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df3.columns

Index(['award_id_piid', 'modification_number', 'transaction_number',
       'parent_award_agency_id', 'parent_award_agency_name', 'parent_award_id',
       'parent_award_modification_number', 'federal_action_obligation',
       'total_dollars_obligated', 'base_and_exercised_options_value',
       ...
       'native_hawaiian_servicing_institution', 'school_of_forestry',
       'veterinary_college', 'dot_certified_disadvantage',
       'self_certified_small_disadvantaged_business',
       'small_disadvantaged_business', 'c8a_program_participant',
       'historically_underutilized_business_zone_hubzone_firm',
       'sba_certified_8a_joint_venture', 'last_modified_date'],
      dtype='object', length=261)

In [28]:
for col in df1.columns:
    if col in df2.columns:
        print('df2: {}'.format(col))
    if col in df3.columns:
        print('df3: {}'.format(col))
    if col in df4.columns:
        print('df4: {}'.format(col))

df3: modification_number
df3: federal_action_obligation
df3: action_date
df3: period_of_performance_start_date
df3: period_of_performance_current_end_date
df3: awarding_agency_code
df3: awarding_agency_name
df3: awarding_sub_agency_code
df3: awarding_sub_agency_name
df3: awarding_office_code
df3: awarding_office_name
df3: funding_agency_code
df3: funding_agency_name
df3: funding_sub_agency_code
df3: funding_sub_agency_name
df3: funding_office_code
df3: funding_office_name
df3: recipient_duns
df3: recipient_name
df3: recipient_parent_name
df3: recipient_parent_duns
df3: recipient_country_code
df3: recipient_country_name
df3: recipient_address_line_1
df3: recipient_address_line_2
df3: recipient_city_name
df3: recipient_state_code
df3: recipient_state_name
df3: recipient_congressional_district
df3: primary_place_of_performance_country_code
df3: primary_place_of_performance_country_name
df3: primary_place_of_performance_city_name
df3: primary_place_of_performance_county_name
df3: primary_place_of_performance_state_name
df3: primary_place_of_performance_zip_4
df3: primary_place_of_performance_congressional_district
df3: award_description
df3: action_type_code
df3: last_modified_date

In [14]:
df1.recipient_country_code.value_counts()

USA    2021
Name: recipient_country_code, dtype: int64

In [16]:
df1.recipient_country_name.value_counts()

UNITED STATES    2021
Name: recipient_country_name, dtype: int64

In [17]:
df1.describe()

,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,total_loan_value,awarding_agency_code,awarding_sub_agency_code,funding_agency_code,...,recipient_congressional_district,recipient_foreign_city_name,recipient_foreign_province_name,recipient_foreign_postal_code,primary_place_of_performance_county_code,primary_place_of_performance_congressional_district,primary_place_of_performance_foreign_location,cfda_number,assistance_type_code,record_type_code
count,2.016000e+03,1.119000e+03,2.021000e+03,1.021000e+03,1.870000e+02,1.930000e+02,1.910000e+02,2021.000000,2021.000000,2021.0,...,2021.000000,0.0,0.0,0.0,113.000000,1635.000000,0.0,2021.000000,2021.000000,2021.0
mean,3.066013e+05,3.975245e+04,3.278531e+05,3.951587e+05,4.186206e+04,4.134315e+04,2.119198e+06,20.304800,2057.279565,20.0,...,10.587828,NaN,NaN,NaN,101.194690,66.370642,NaN,20.979351,4.063335,2.0
std,6.207959e+05,1.045937e+05,6.191127e+05,5.892972e+06,2.441935e+05,2.403189e+05,1.351866e+07,4.836139,9.102688,0.0,...,16.555392,NaN,NaN,NaN,121.368746,37.289149,NaN,0.537379,0.427920,0.0
min,-6.865000e+05,-2.326000e+03,-6.865000e+05,-2.630000e+05,-3.032500e+04,0.000000e+00,0.000000e+00,20.000000,2001.000000,20.0,...,0.000000,NaN,NaN,NaN,3.000000,0.000000,NaN,12.401000,3.000000,2.0
25%,2.083300e+04,0.000000e+00,3.125000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,2050.000000,20.0,...,2.000000,NaN,NaN,NaN,39.000000,19.500000,NaN,21.008000,4.000000,2.0
50%,7.441000e+04,0.000000e+00,1.250000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,2050.000000,20.0,...,5.000000,NaN,NaN,NaN,73.000000,90.000000,NaN,21.009000,4.000000,2.0
75%,3.500000e+05,6.018700e+04,3.933600e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,2066.000000,20.0,...,12.000000,NaN,NaN,NaN,105.000000,90.000000,NaN,21.020000,4.000000,2.0
max,8.496545e+06,2.000000e+06,8.496545e+06,1.500000e+08,3.030000e+06,3.030000e+06,1.500000e+08,97.000000,2100.000000,20.0,...,98.000000,NaN,NaN,NaN,770.000000,98.000000,NaN,21.021000,8.000000,2.0

In [29]:
df1.dtypes

award_id_fain                                           object
modification_number                                     object
award_id_uri                                            object
sai_number                                              object
federal_action_obligation                              float64
non_federal_funding_amount                             float64
total_funding_amount                                   float64
face_value_of_loan                                     float64
original_subsidy_cost                                  float64
total_subsidy_cost                                     float64
total_loan_value                                       float64
action_date                                             object
period_of_performance_start_date                        object
period_of_performance_current_end_date                  object
awarding_agency_code                                     int64
awarding_agency_name                                    object
awarding_sub_agency_code                                 int64
awarding_sub_agency_name                                object
awarding_office_code                                    object
awarding_office_name                                    object
funding_agency_code                                      int64
funding_agency_name                                     object
funding_sub_agency_code                                  int64
funding_sub_agency_name                                 object
funding_office_code                                     object
funding_office_name                                     object
recipient_duns                                           int64
recipient_name                                          object
recipient_parent_name                                   object
recipient_parent_duns                                  float64
                                                        ...
recipient_congressional_district                         int64
recipient_foreign_city_name                            float64
recipient_foreign_province_name                        float64
recipient_foreign_postal_code                          float64
primary_place_of_performance_country_code               object
primary_place_of_performance_country_name               object
primary_place_of_performance_code                       object
primary_place_of_performance_city_name                  object
primary_place_of_performance_county_code               float64
primary_place_of_performance_county_name                object
primary_place_of_performance_state_name                 object
primary_place_of_performance_zip_4                      object
primary_place_of_performance_congressional_district    float64
primary_place_of_performance_foreign_location          float64
cfda_number                                            float64
cfda_title                                              object
assistance_type_code                                     int64
assistance_type_description                             object
award_description                                       object
business_funds_indicator_code                           object
business_funds_indicator_description                    object
business_types_code                                     object
business_types_description                              object
correction_delete_indicator_code                        object
correction_delete_indicator_description                 object
action_type_code                                        object
action_type_description                                 object
record_type_code                                         int64
record_type_description                                 object
last_modified_date                                      object
Length: 72, dtype: object